{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  entryPoints:
    - websecure
  routes:
  - kind: Rule
    match: Host(`{{ .Values.ingress.host }}`)
    {{- if .Values.ingress.middlewares }}
    middlewares:
    {{- range .Values.ingress.middlewares }}
    - name: {{ . }}
    {{- end }}
    {{- end }}
    services:
    - name: {{ .Release.Name }}
      port: {{ .Values.app.service.port }}
  tls:
    certResolver: letsencrypt
{{- end }}
